<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        *{
            font-family: Arial, sans-serif;
            line-height: 1.6;
            /* margin: 20px; */
            color: #666;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        header {
            color:black;
            text-align: center;
            padding: 20px;
            background-color: #f4f4f4;
            margin-bottom: 5px;
        }

        section {
            max-width: 800px;
            margin: auto;
        }

        h2 {
            padding: 5px 0;
            color: #333;
        }

        p {
            padding: 5px 0;
            color: #666;
        }
        .team {
            display: flex;
        }
        .team p{
            width: 50%;
        }
        .team-left , .team-right{
            width: 50%;
            font-weight: 600;
        }
    </style>
</head>

<body>

    <header>
        <h1>About Us</h1>
    </header>

    <section>

        <h2>Our Mission</h2>
        <p>In an era dominated by data breaches and privacy concerns, we envisioned a platform that would redefine the standards of secure file sharing. We wanted to empower users with a tool that not only prioritizes confidentiality but also streamlines the entire sharing process.</p>
        
        <h2>Key Features</h2>
        
            <ul>
                <li>User-Friendly Interface: While security is paramount, we understand the importance of a user-friendly experience. Secure Share boasts an intuitive interface, making it easy for both tech-savvy professionals and casual users to navigate the platform effortlessly.</li>
                <li>Seamless Collaboration: File sharing shouldn’t be a cumbersome process. With [Your Secure Share, collaboration is seamless. Whether you're working on a team project or sharing sensitive documents, our platform facilitates efficient and secure collaboration.</li>
            </ul>   
        

        <h2>Meet the Team</h2>
        <div class="team">
            <div class="team-left">
                <p>Niladri Basak</p>
                <p>Subham Biswas</p>
                <p>Aritra Sarkar</p>
            </div>
            <div class="team-right">
                <p>Shivaditya Som</p>
                <p>Sneha Debnath</p>
                <p>Disha Gupta</p>
            </div>
        </div>
        

    </section>

</body>

</html>