<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/7dc99611d3.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/assets/newfavicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/assets/newfavicon.png"
    />

    <title>About Us</title>
    <style>
      @import url(../public/css/index.css);
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Quicksand", sans-serif;
      }

      html,
      body {
        height: 100%;
        width: 100%;
      }

      .aboutUs-active {
        border-bottom: 2px solid #b87c4c;
      }
      ul {
        list-style: none;
      }
      .aboutUs-active:hover {
        border-bottom: none;
      }

      .home-active {
        border-bottom: none;
      }

      p,
      li {
        padding: 5px 0;
        color: rgba(239, 239, 239, 0.691);
      }

      section {
        max-width: 800px;
        margin: auto;
      }

      h2 {
        /* text-align: center; */
        margin: 20px 0;
        padding: 5px 0;
        color: white;
      }

      /* .team-heading{
  /* text-align: center; */

      .team {
        display: flex;
      }

      .team p {
        text-align: center;
      }

      .team-left,
      .team-right {
        width: 50%;
        font-weight: 600;
      }

      footer p {
        padding: 0;
        color: #7a7a7a;
      }
    </style>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav>
      <div class="nav-left">
        <a href="/"
          ><span class="logo2"><i class="fa-brands fa-keycdn"></i> </span
          ><span href="/" class="logo">Secure Share</span></a
        >
      </div>
      <div class="nav-mid">
        <span class="home-active"><a href="/">Home</a></span>
        <span class="subscription-active"
          ><a href="/subscription">Subscription</a></span
        >
        <span class="aboutUs-active"><a href="/aboutUs">About Us</a></span>
      </div>
      <div class="nav-right">
        <a href="#"
          ><img
            src="../public/assets/defaultpfpsec.jpg"
            alt="secure share logo"
        /></a>
      </div>
    </nav>

    <section>
      <h2 style="background-color: #4f4f4f; padding-left: 10px">Our Mission</h2>
      <p>
        In an era dominated by data breaches and privacy concerns, we envisioned
        a platform that would redefine the standards of secure file sharing. We
        wanted to empower users with a tool that not only prioritizes
        confidentiality but also streamlines the entire sharing process.
      </p>

      <h2 style="background-color: #4f4f4f; padding-left: 10px">
        Key Features
      </h2>

      <ul>
        <li>
          User-Friendly Interface: While security is paramount, we understand
          the importance of a user-friendly experience. Secure Share boasts an
          intuitive interface, making it easy for both tech-savvy professionals
          and casual users to navigate the platform effortlessly.
        </li>
        <li>
          Seamless Collaboration: File sharing shouldn’t be a cumbersome
          process. With Secure Share, collaboration is seamless. Whether you're
          working on a team project or sharing sensitive documents, our platform
          facilitates efficient and secure collaboration.
        </li>
      </ul>

      <h2
        class="team-heading"
        style="background-color: #4f4f4f; padding-left: 10px"
      >
        Meet the Team
      </h2>
      <div class="team">
        <div class="team-left">
          <p>Niladri Basak</p>
          <p>Subham Biswas</p>
          <p>Aritra Sarkar</p>
        </div>
        <div class="team-right">
          <p>Shivaditya Som</p>
          <p>Sneha Debnath</p>
          <p>Disha Gupta</p>
        </div>
      </div>
    </section>

    <footer>
      <p>Secure Share © 2024</p>
    </footer>
  </body>
</html>
