<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <style>
      @import url(../public/css/index.css);
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
      }

      html,
      body {
        height: 100%;
        width: 100%;
      }

      .aboutUs-active {
        border-bottom: 2px solid white;
      }

      .aboutUs-active:hover {
        border-bottom: none;
      }

      .home-active {
        border-bottom: none;
      }

      p,
      li {
        padding: 5px 0;
        color: rgba(239, 239, 239, 0.691);
      }

      section {
        max-width: 800px;
        margin: auto;
      }

      h2 {
        /* text-align: center; */
        margin: 20px 0;
        padding: 5px 0;
        color: white;
      }

      .team-heading{
        /* text-align: center; */
      }

      .team {
        display: flex;
      }

      .team p {
        /* text-align: center; */
      }

      .team-left,
      .team-right {
        width: 50%;
        font-weight: 600;
      }

      footer p {
        padding: 0;
        color: #7a7a7a;
      }
    </style>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav>
      <div class="nav-left">
        <a href="/"
          ><img
            src="../public/assets/secure-logo.jpeg"
            alt="secure share logo"
          /><span href="/" class="logo">Secure Share</span></a
        >
      </div>
      <div class="nav-mid">
        <span class="home-active"><a href="/">Home</a></span>
        <span class="subscription-active"
          ><a href="./subscription.ejs">Subscription</a></span
        >
        <span class="aboutUs-active"><a href="/aboutUs.ejs">About Us</a></span>
      </div>
      <div class="nav-right">
        <a href="#"
          ><img src="../public/assets/user-icon.png" alt="secure share logo"
        /></a>
      </div>
    </nav>

    <section>
      <h2>Our Mission</h2>
      <p>
        In an era dominated by data breaches and privacy concerns, we envisioned
        a platform that would redefine the standards of secure file sharing. We
        wanted to empower users with a tool that not only prioritizes
        confidentiality but also streamlines the entire sharing process.
      </p>

      <h2>Key Features</h2>

      <ul>
        <li>
          User-Friendly Interface: While security is paramount, we understand
          the importance of a user-friendly experience. Secure Share boasts an
          intuitive interface, making it easy for both tech-savvy professionals
          and casual users to navigate the platform effortlessly.
        </li>
        <li>
          Seamless Collaboration: File sharing shouldn’t be a cumbersome
          process. With [Your Secure Share, collaboration is seamless. Whether
          you're working on a team project or sharing sensitive documents, our
          platform facilitates efficient and secure collaboration.
        </li>
      </ul>

      <h2 class="team-heading">Meet the Team</h2>
      <div class="team">
        <div class="team-left">
          <p>Niladri Basak</p>
          <p>Subham Biswas</p>
          <p>Aritra Sarkar</p>
        </div>
        <div class="team-right">
          <p>Shivaditya Som</p>
          <p>Sneha Debnath</p>
          <p>Disha Gupta</p>
        </div>
      </div>
    </section>

    <footer>
      <p>Secure Share © 2024</p>
    </footer>
  </body>
</html>
