<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/password.css">
  <title>Download file</title>
</head>
<body>

  <!-- NAVBAR -->
  <nav>
    <div class="nav-left">
      <a href=""><img src="../public/assets/secure-logo.jpeg" alt="secure share logo" ><span href="" class="logo">Secure Share</span></a>
    </div>
    <!-- <div class="nav-mid"></div> -->
    <div class="nav-right">
      <a href="/views/subscription.ejs"><span >Subscription</span></a>
      <span><a href="/views/aboutUs.ejs">About Us</span></a>
      <a href="#"><img src="../public/assets/user-icon.png" alt="secure share logo" ></a>
    </div>
  </nav>

  <div class="password-main">
    <% if (locals.error) 
    { %>
      <div>
        Incorrect Password!
      </div>
    <% } 
    %>
    <form method="post">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Download</button>
    </form>
  </div>

</body>
</html>