<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/css/password.css">
  <title>Download file</title>
</head>
<body>

  <!-- NAVBAR -->
  <nav>
    <div class="nav-left">
      <a href="#"
        ><img
          src="../public/assets/secure-logo.jpeg"
          alt="secure share logo"
        /><span href="#" class="logo">Secure Share</span></a
      >
    </div>
    <!-- <div class="nav-mid"></div> -->
    <div class="nav-right">
      <a href="#"
        ><img src="../public/assets/user-icon.png" alt="secure share logo"
      /></a>
    </div>
  </nav>

  <div class="password-main">

  <div class="alert">
    <% if (locals.error) 
    { %>
      <div class="alert-msg">Incorrect Password!</div>
    <% } 
    %>
  </div>

  <form method="post">

    <label for="password">
      <span>Password</span>
      <input type="password" id="password" name="password" />
    </label>
    <button type="submit">Download</button>

  </form>

  <div class="back">
    <span class="left-arrow">&larr;</span><a href="/"><button>Go Back</button></a>
  </div>

  </div>
  <footer>
    <p>Secure Share © 2024</p>
  </footer>
</body>
