<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../public/assets/newfavicon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../public/assets/newfavicon.png"
    />

    <script
      src="https://kit.fontawesome.com/7dc99611d3.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/subscription.css" />
    <title>Subscription Plan</title>
  </head>
  <body>

    <!-- NAVBAR -->
    <nav>
      <div class="nav-left">
        <a href="/"
          ><span class="logo2"><i class="fa-brands fa-keycdn"></i> </span
          ><span href="/" class="logo">Secure Share</span></a
        >
      </div>
      <div class="nav-mid">
        <span class="home-active"><a href="/">Home</a></span>
        <span class="subscription-active"
          ><a href="/subscription">Subscription</a></span
        >
        <span class="aboutUs-active"><a href="/aboutUs">About Us</a></span>
      </div>
      <div class="nav-right">
        <a href="#"
          ><img
            src="../public/assets/defaultpfpsec.jpg"
            alt="secure share logo"
        /></a>
      </div>
    </nav>

    <h1 class="title">Subscription Plans</h1>
    <div class="container">
      <div class="offers">
        <h2>Free</h2>
        <h3 class="price">Rs. 0</h3>
        <small>Monthly</small>
        <p>Up to 5 File Shares</p>
        <p>Maximum File Size 100MB</p>
        <p></p>
        <button>Subscribe</button>
      </div>
      <div class="offers">
        <h2>Premium</h2>
        <small class="small-colored">Best offer!</small>
        <h3 class="price">Rs. 399</h3>
        <small>Monthly</small>
        <p>Unlimited File Sharing</p>
        <p>Maximum File Size 5GB</p>
        <p></p>
        <button>Subscribe</button>
      </div>
    </div>

    <footer>
      <p>Secure Share © 2024</p>
    </footer>

  </body>
</html>
