<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../public/css/subscription.css">
    <title>Subscription Plan</title>
  </head>
  <body>

    <!-- NAVBAR -->
    <nav>
      <div class="nav-left">
        <a href="/"><img src="../public/assets/secure-logo.jpeg" alt="secure share logo" ><span href="/" class="logo">Secure Share</span></a>
      </div>
      <div class="nav-mid">
        <span class="home-active"><a href="/">Home</a></span>
        <span class="subscription-active"><a href="subscription">Subscription</a></span>
        <span class="aboutUs-active"><a href="aboutUs">About Us</a></span>
      </div>
      <div class="nav-right">
        <a href="#"><img src="../public/assets/user-icon.png" alt="secure share logo" ></a>
      </div>
    </nav>

    <h1 class="title">Subscription Plans</h1>
    <div class="container">
      <div class="offers">
        <h2>Free</h2>
        <h3 class="price">Rs. 0</h3>
        <small>Monthly</small>
        <p>Up to 5 File Shares</p>
        <p>Maximum File Size 100MB</p>
        <p></p>
        <button>Subscribe</button>
      </div>
      <div class="offers">
        <h2>Premium</h2>
        <small class="small-colored">Best offer!</small>
        <h3 class="price">Rs. 399</h3>
        <small>Monthly</small>
        <p>Unlimited File Sharing</p>
        <p>Maximum File Size 5GB</p>
        <p></p>
        <button>Subscribe</button>
      </div>
    </div>

    <footer>
      <p>Secure Share © 2024</p>
    </footer>

  </body>
</html>
